@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
    font-family: "Roboto", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #ffffff;
  --color-primary-content: #d5e5d1;
  --color-secondary: #53624f;
  --color-accent: #161616;
  --color-accent-content: #1e1e1e;
}